<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blast1.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast2.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast3.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{272,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast4.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{408,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast5.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{544,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast6.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{680,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast7.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{816,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast8.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,107}</string>
                <key>spriteSourceSize</key>
                <string>{136,107}</string>
                <key>textureRect</key>
                <string>{{952,0},{136,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blast.png</string>
            <key>size</key>
            <string>{1088,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fde4cc6bc658783d12f633e0b0665bd:cf3f84b2db999340e015088c3f8f957a:e88d2f13f546b76d18e9c0c35551aac7$</string>
            <key>textureFileName</key>
            <string>blast.png</string>
        </dict>
    </dict>
</plist>
